<nav class="navbar navbar-expand-sm navbar-dark position-fixed w-100 sticky-top">
    <div class="container-fluid h-100 p-0 pe-4">
        <ul class="navbar-nav top-nav h-100">
            <li class="nav-item nav-link text-center h-100">
                <fa-icon [icon]="['fas', 'bars']"></fa-icon>
            </li>
            <li class="nav-item nav-link text-center h-100 p-0" [routerLink]="['/dashboard']" routerLinkActive="active">
                <fa-icon [icon]="['fas', 'house']"></fa-icon>
            </li>
            <li class="nav-item nav-link text-center h-100" [routerLink]="['/fleet']" routerLinkActive="active">
                Fleet
            </li>
            <li class="nav-item nav-link text-center h-100" [routerLink]="['/work']" routerLinkActive="active">
                Work
            </li>
            <li class="nav-item nav-link text-center h-100" [routerLink]="['/statistic','procurement', 'research']"
                routerLinkActive="active">
                Statistics
            </li>
        </ul>

        <ul class="navbar-nav right-items h-100 align-items-center">
            <li class="nav-item p-2 border-end border-start h-100">
                <a class="nav-link" href="#">
                    <fa-icon [icon]="['far', 'bell']"></fa-icon>
                </a>
            </li>
            <li class="nav-item p-2 border-end h-100">
                <a class="nav-link" href="#">
                    <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                </a>
            </li>

            <li class="nav-item dropdown ps-2">
                <div class="d-flex flex-row">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-0 mt-1">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        John Smith <br>
                        <small>Accounting</small>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>

            </li>
        </ul>
    </div>
</nav>