.navbar {
  background: #2c405a;
  padding: 0;
  height: 58px;

  .top-nav {
    .nav-item {
      padding: 0;
      min-width: 58px;
      line-height: 52px;

      &.active {
        line-height: 44px;
        border-top: 4px solid #0093ee;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.right-items {
  .dropdown-toggle {
    line-height: 12px;

    small {
      font-size: 10px;
    }

    &::after {
      margin-left: 48px;
      margin-bottom: 4px;
    }
  }
}