<app-header></app-header>
<div class="container-fluid ps-0 h-100">
    <div class="row h-100">
        <div class="col-auto pe-0">
            <app-sidebar-nav></app-sidebar-nav>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>