<div class="main-container">
    <div class="row h-100">
        <div class="col-auto pe-0">
            <app-sidebar-menu></app-sidebar-menu>
        </div>
        <div class="col ps-0">
            <app-breadcrumb></app-breadcrumb>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>