<div class="d-flex justify-content-start sidebar-menu h-100">
    <div class="container p-4">
        <div class="d-flex justify-content-between">
            <h5>{{ menuList.title }}</h5>
            <fa-icon [icon]="['fas', 'circle-plus']" class="blue-color"></fa-icon>
        </div>
        <hr>

        <ul class="list-group">
            <li class="list-group-item" routerLinkActive="active" [routerLink]="item.url"
                *ngFor="let item of menuList.data">
                <fa-icon [icon]="item.icon"></fa-icon> {{ item.label }}
            </li>
        </ul>
    </div>
</div>