.sidebar-nav {
  background: #1f2839;
  min-width: 58px;
  padding-top: 58px;

  li:hover {
    cursor: pointer;
  }

  small {
    font-size: 8px;
    color: #fff;
  }

  li.active {
    background: #19334c;
    border-left: 1px solid #0093ee;
  }
}
