<div class="row h-100">
    <div class="col pe-0">
        <div class="d-flex justify-content-center h-100 sidebar-nav">
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center w-100">
                <li [routerLink]="list.url" routerLinkActive="active" *ngFor="let list of navList">
                    <a class="nav-link pb-0 text-white">
                        <fa-icon [icon]="list.icon"></fa-icon>
                    </a>
                    <small>{{ list.label }}</small>
                </li>
            </ul>
            <div class="position-fixed bottom-0" *ngIf="currentUrl === 'dashboard'">
                <a href="#" class="d-flex align-items-center p-4 text-white text-decoration-none">
                    <fa-icon [icon]="['far', 'pen-to-square']"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>