/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

.main-container {
  padding-top: 58px;
  height: 100%;
}

.sidebar-menu {
  background: #f6f6f6;
  width: 230px;

  .blue-color {
    color: #0093ee;
  }

  .list-group-item {
    border: none;
    padding: 4px 8px;
    background-color: transparent;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 6px;

    &.active {
      background-color: #0d6efd;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.accordion-item {
  background-color: transparent;
  border: none;

  &.active {
    background-color: #0d6efd;
    border-radius: 4px;
    color: #fff;
  }

  .accordion-header {
    padding: 4px 8px;
  }

  .accordion-button {
    padding: 0;
    background-color: transparent;

    &:not(.collapsed) {
      box-shadow: none;
      color: #212529;
      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        transform: rotate(0deg);
      }
    }

    &::after {
      width: 14px;
      height: 14px;
      background-size: 14px;
      transform: rotate(-90deg);
    }
  }

  .accordion-body {
    padding: 4px 8px;

    .list {
      margin: 0;

      .list-item {
        border: none;
        padding: 4px 8px;
        background-color: transparent;
        font-size: 14px;
        margin-bottom: 6px;

        &.active {
          background-color: #0d6efd;
          border-radius: 4px;
          color: #fff;
        }

        &:hover {
          cursor: pointer;
        }

        ::marker {
          background-color: #0d6efd;
        }
      }
    }
  }
}
