<nav aria-label="breadcrumb" class="d-flex p-2 ps-3">
    <fa-icon [icon]=" ['fas', 'bars-staggered' ]">
    </fa-icon>
    <ol class="breadcrumb ps-3">
        <li class="breadcrumb-item text-dark" [routerLink]="breadcrumb.url" *ngFor="let breadcrumb of breadcrumbs"> {{
            breadcrumb.label }}</li>
    </ol>
</nav>